# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\投稿\学者成长规律\图件\data and code\Bibliometric-growth-patterns-of-excellent-scholars\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
